.movie-container {
  width: 100%;
  letter-spacing: 1px;  
  max-width: 1024px;
}

.result {
  padding: 0.5rem 0;
  font-weight: 200;
}

.result-count {
  font-weight: 600;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 5px;
}

@media only screen and (max-width: 700px) {
  .container-card {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  }
}