.wraperHeader {
  position: relative;
  height: 30vh;
  max-width: 1024px;
  background-color: #181616d1;
}

.Header {
  display: flex;
  flex-direction: column;
}

.openModalBtn {
  position: relative;
  color: #f65261;
  background-color: #42424254;
  height: 3em;
  border-style: none;
  cursor: pointer;
  box-shadow: 0 0 10px 1px #00000057;
}

.top-wraper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.header-text{
  color: #ffff;
  font-size: x-large;
  padding: 15px;
}

.header-search{
  position: relative;
  align-self: center;
  z-index: 1;
}